
@{
    ViewBag.Title = "Temp2";
}


<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="~/Home/index"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                @Html.ActionLink("Personal Account", "Login", "Home")
            </li>
            <li>
                <a href="#">Language</a>
                <ul class="mega-menu">
                    <li>
                        <!-- The mega drop down contents -->
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ru", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Russia.png\" />"))</td>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ua", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Ukraine.png\" />"))</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div style="text-align:center">
            <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:2em">Module "Bed"</p>
                <p style="font-size:1.3em">
                    In this category you can set comfortable microclimat (temperature etc) via tumblers.
                </p>

                <form method="post">

                    <input type="hidden" value="@ViewBag.BookId" name="BookId" />

                    @Html.Raw(@Html.ActionLink("[UP]", "ON", "Temp").ToHtmlString().Replace("[UP]", "<img src=\"/js_css/images/up.png\" />"))
                    @Html.Raw(@Html.ActionLink("[DOWN]", "OFF", "Temp").ToHtmlString().Replace("[DOWN]", "<img src=\"/js_css/images/down.png\" />"))
        
                </form>

           



            </div>
        </div>
        <footer style="float:left;width:100%;">
            <div id="container">
                <div class="footerLeft">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="last"><a href="#">Contact</a></li>
                    </ul>
                    <div class="icons">
                        <a href="https://vk.com/microsoftukraine"><img src="~/js_css/images/VK_64x64.png" style="zoom:0.5"></a>
                        <a href="https://twitter.com/microsoftua"><img src="~/js_css/images/HPFeb15_social_Twitter.png"></a>
                        <a href="https://www.facebook.com/MicrosoftUkraine"><img src="~/js_css/images/hpfeb15_social_facebook.png" /></a>
                    </div>
                </div><!--end div "footerLeft"-->

                <div class="contact">
                    <p>
                        IoT laboratory<br>
                        Microsoft Ukraine<br>
                        Kyiv, Zhilyanska st. 75<br>
                        P: 650-555-1212<br>
                        F: 650-555-1213
                    </p>
                </div><!--end div "contact"-->
            </div><!--end div "container"-->
        </footer>

        </div>
    </nav>

</body>
</html>
