
@{
    ViewBag.Title = "SuccessEnter";
}

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="~/Home/index"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                @Html.ActionLink("Personal Account", "Login", "Home")
            </li>
            <li>
                <a href="#">Language</a>
                <ul class="mega-menu">
                    <li>
                        <!-- The mega drop down contents -->
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ru", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Russia.png\" />"))</td>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ua", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Ukraine.png\" />"))</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div style="text-align:center">
            <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:2em">Welcome to your Puppy Care project account</p>
                <p style="font-size:1.3em">You can manage all modules in categories below</p>
            </div>
        </div>
        <div style="width:100%">
            <a href="~/feeder/index" class="CategorieBlockThree"> 
                <div class="CategorieOne">
                    <div class="CategorieText">
                        <p style="font-size:2em">Feeder</p>
                        <p style="font-size:1.3em">Feed your pet in one click.</p>
                    </div>
                </div>
            </a>
          
                <a href="~/collar/collar" class="CategorieBlockTwo">
                <div class="CategorieTwo">
                    <div class="CategorieText">
                        <p style="font-size:2em">Collar</p>
                        <p style="font-size:1.3em">Watch for your pet vitals.</p>
                    </div>
                </div>
            </a>
            <a href="~/Temp/index" class="CategorieBlock">
                <div class="CategorieThree">
                    <div class="CategorieText">
                        <p style="font-size:2em">Bed</p>
                        <p style="font-size:1.3em">Control microclimat in bed.</p>
                    </div>
                </div>
            </a>
            <a href="#" class="CategorieBlock">
                <div class="CategorieFour">
                    <div class="CategorieText">
                        <p style="font-size:2em">Settings</p>
                        <p style="font-size:1.3em">Change password, add phone etc.</p>
                    </div>
                </div>
            </a>
            <div style="width:100%;height:100px;background:#ffffff;float:left;margin-top:130px">

            </div>
            <footer style="float:left;width:100%;">
                <div id="container">
                    <div class="footerLeft">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li class="last"><a href="#">Contact</a></li>
                        </ul>
                        <div class="icons">
                            <a href="https://vk.com/microsoftukraine"><img src="~/js_css/images/VK_64x64.png" style="zoom:0.5"></a>
                            <a href="https://twitter.com/microsoftua"><img src="~/js_css/images/HPFeb15_social_Twitter.png"></a>
                            <a href="https://www.facebook.com/MicrosoftUkraine"><img src="~/js_css/images/hpfeb15_social_facebook.png" /></a>
                        </div>
                    </div><!--end div "footerLeft"-->

                    <div class="contact">
                        <p>
                            IoT laboratory<br>
                            Microsoft Ukraine<br>
                            Kyiv, Zhilyanska st. 75<br>
                            P: 650-555-1212<br>
                            F: 650-555-1213
                        </p>
                    </div><!--end div "contact"-->
                </div><!--end div "container"-->
            </footer>

        </div>
    </nav>
       
</body>
</html>