@{
    ViewBag.Title = "Index";
}

    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="#"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                @Html.ActionLink(WebApplication3.Resourses.HomeTexts.PersonalAccount, "Login", "Home")
            </li>
            <!--<li>
                <a href="#">@WebApplication3.Resourses.HomeTexts.Language</a>
                <ul class="mega-menu">
                    <li>
                        The mega drop down contents 
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.ActionLink(WebApplication3.Resourses.HomeTexts.Language, "Index", "Language")</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>-->
        </ul>
        <ul class="bxslider">
            <li style="left:0px;top:-20px"><img src="~/js_css/images/kartink.jpg" title="@WebApplication3.Resourses.HomeTexts.PuppyCareIs" /></li>
            <li style="left:0px;top:-20px"><img src="~/js_css/images/kartinki.jpg" title="@WebApplication3.Resourses.HomeTexts.ModuleBadWhatCan" /></li>
            <li style="left:0px;top:-20px"><img src="~/js_css/images/ofc_outlookrefreshbg_1201_1920x720_en_us.jpg"  title="@WebApplication3.Resourses.HomeTexts.SystemIncludes" /></li>
        </ul>
        <div style="position:relative;top:50px">
            <section></section>
            <section>
                <article class="scrollflow -pop -opacity">

                    <h2>@WebApplication3.Resourses.HomeTexts.PersonalAccount</h2>
                    <p>@WebApplication3.Resourses.HomeTexts.SmartCollar</p><img src="~/js_css/images/colar.png" style="width:70%;height:auto" />

                </article>
            </section>
            <section>
                <article>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="100%" valign="top">
                                <h2 class="scrollflow -slide-right -opacity">@WebApplication3.Resourses.HomeTexts.ModulBed</h2>
                                <p class="scrollflow -slide-right -opacity">@WebApplication3.Resourses.HomeTexts.DogNest</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" valign="top">
                                <p class="scrollflow -slide-left -opacity"><img src="~/js_css/images/bed.png"  style="width:70%;height:auto"></p>
                            </td>
                        </tr>
                    </table>

                </article>
            </section>

            <section>
                <article>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="100%" valign="top">
                                <h2 class="scrollflow -slide-top -opacity">@WebApplication3.Resourses.HomeTexts.ModuleFeeder</h2>
                                <p class="scrollflow -slide-top -opacity">@WebApplication3.Resourses.HomeTexts.DogFeeder</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" valign="top">
                                <p class="scrollflow -slide-bottom -opacity"><img src="~/js_css/images/feeder.png" /></p>
                            </td>
                        </tr>
                    </table>

                </article>
            </section>

            <section>
                <div class="scrollflow -slide-top" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200">&nbsp;</div>
                <article>
                    <h2 class="scrollflow -slide-bottom -opacity" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200">@WebApplication3.Resourses.HomeTexts.MicrosoftHelp</h2>
                </article>
            </section>
        </div>
        <footer>
            <div id="container">
                <div class="footerLeft">
                    <ul>
                        <li><a href="#">@WebApplication3.Resourses.HomeTexts.Home</a></li>
                        <li><a href="#">@WebApplication3.Resourses.HomeTexts.Portfolio</a></li>
                        <li><a href="#">@WebApplication3.Resourses.HomeTexts.Services</a></li>
                        <li><a href="#">@WebApplication3.Resourses.HomeTexts.About</a></li>
                        <li><a href="#">@WebApplication3.Resourses.HomeTexts.Blog</a></li>
                        <li class="last"><a href="#">Contact</a></li>
                    </ul>
                    <div class="icons">
                        <a href="https://vk.com/microsoftukraine"><img src="~/js_css/images/VK_64x64.png" style="zoom:0.5"></a>
                        <a href="https://twitter.com/microsoftua"><img src="~/js_css/images/HPFeb15_social_Twitter.png"></a>
                        <a href="https://www.facebook.com/MicrosoftUkraine"><img src="~/js_css/images/hpfeb15_social_facebook.png" /></a>
                    </div>
                </div><!--end div "footerLeft"-->

                <div class="contact">
                    <p>
                        @WebApplication3.Resourses.HomeTexts.MicrosoftContacts
                    </p>
                </div><!--end div "contact"-->
            </div><!--end div "container"-->
        </footer>
    </nav>