@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="~/views/home/index.cshtml"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                <a href="http://www.smartmenus.org/about/">About</a>
                <ul>
                    <li><a href="http://www.smartmenus.org/about/introduction-to-smartmenus-jquery/">Introduction to SmartMenus jQuery</a></li>
                    <li><a href="http://www.smartmenus.org/about/themes/">Themes</a></li>
                    <li><a href="http://vadikom.com/about/#vasil-dinkov">The author</a></li>
                    <li>
                        <a href="http://www.smartmenus.org/about/vadikom/">The company</a>
                        <ul>
                            <li><a href="http://vadikom.com/about/">About Vadikom</a></li>
                            <li><a href="http://vadikom.com/projects/">Projects</a></li>
                            <li><a href="http://vadikom.com/services/">Services</a></li>
                            <li><a href="http://www.smartmenus.org/about/vadikom/privacy-policy/">Privacy policy</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="http://www.smartmenus.org/download/">Download</a></li>
            <li>
                <a href="http://www.smartmenus.org/support/">Support</a>
                <ul>
                    <li><a href="http://www.smartmenus.org/support/premium-support/">Premium support</a></li>
                    <li><a href="http://www.smartmenus.org/support/forums/">Forums</a></li>
                </ul>
            </li>
            <li><a href="http://www.smartmenus.org/docs/">Docs</a></li>
            <li>
                @Html.ActionLink("Personal Account", "Login", "Home")
            </li>
            <li>
                <a href="#">Language</a>
                <ul class="mega-menu">
                    <li>
                        <!-- The mega drop down contents -->
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ru", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Russia.png\" />"))</td>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ua", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Ukraine.png\" />"))</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div style="text-align:center">
            <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:2.5em">Sign in</p>
                <p style="font-size:1.5em">Use your Puppy Care project account</p>
            </div>
            <form action="/Home/Login" method="post" style="height:inherit">
                <div style="padding-bottom:10px">
                <input id="names" name="Login" type="text" value="RaspberyData" /><br />
        </div>
        <div style="padding-bottom:10px">
            <input id="names" name="Password" type="text" value="password" /><br />
        </div>
        <input type="submit" value="Sign in"/>
        </form>
        <br />
            <p style="text-size:1.5em"> No account? 
        @Html.ActionLink("Create one", "Index", "Registration")</p>
        </div>

    </nav>
</body>
</html>