@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="~/views/home/index.cshtml"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                @Html.ActionLink("Personal Account", "Login", "Home")
            </li>
            <li>
                <a href="#">Language</a>
                <ul class="mega-menu">
                    <li>
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ru", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Russia.png\" />"))</td>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ua", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Ukraine.png\" />"))</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div style="text-align:center">
            <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:2.5em">@WebApplication3.Resourses.LoginText.SignIn</p>
                <p style="font-size:1.5em">@WebApplication3.Resourses.LoginText.UsePersonal</p>
            </div>
        <form action="/Home/Login" method="post" style="height:inherit">
            <div style="padding-bottom:10px">
                <input id="names" name="Login" type="text" value="RaspberyData" /><br />
            </div>
            <div style="padding-bottom:10px">
                <input id="names" name="Password" type="password" value="password" /><br />
            </div>
            <input type="submit" value="@WebApplication3.Resourses.LoginText.SignIn"/>
        </form>
        <br />
            <p style="text-size:1.5em"> @WebApplication3.Resourses.LoginText.NoAccount
        @Html.ActionLink(@WebApplication3.Resourses.LoginText.CreateOne, "Index", "Registration")</p>
        </div>

    </nav>
</body>
</html>