

<!DOCTYPE html>
<html lang="en-US">
<head>
    <script type="text/javascript" src="~/Scripts/Chart.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
</head>
<body>
    <nav id="main-nav" role="navigation">
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
            <li><a href="~/Home/index"><img src="~/js_css/images/logo2.png" style="width:120px;height:auto;padding:0px;margin:0px;bottom:1px"> </a></li>
            <li>
                <a href="http://www.smartmenus.org/about/">About</a>
                <ul>
                    <li><a href="http://www.smartmenus.org/about/introduction-to-smartmenus-jquery/">Introduction to SmartMenus jQuery</a></li>
                    <li><a href="http://www.smartmenus.org/about/themes/">Themes</a></li>
                    <li><a href="http://vadikom.com/about/#vasil-dinkov">The author</a></li>
                    <li>
                        <a href="http://www.smartmenus.org/about/vadikom/">The company</a>
                        <ul>
                            <li><a href="http://vadikom.com/about/">About Vadikom</a></li>
                            <li><a href="http://vadikom.com/projects/">Projects</a></li>
                            <li><a href="http://vadikom.com/services/">Services</a></li>
                            <li><a href="http://www.smartmenus.org/about/vadikom/privacy-policy/">Privacy policy</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="http://www.smartmenus.org/download/">Download</a></li>
            <li>
                <a href="http://www.smartmenus.org/support/">Support</a>
                <ul>
                    <li><a href="http://www.smartmenus.org/support/premium-support/">Premium support</a></li>
                    <li><a href="http://www.smartmenus.org/support/forums/">Forums</a></li>
                </ul>
            </li>
            <li><a href="http://www.smartmenus.org/docs/">Docs</a></li>
            <li>
                @Html.ActionLink("Personal Account", "Login", "Home")
            </li>
            <li>
                <a href="#">Language</a>
                <ul class="mega-menu">
                    <li>
                        <!-- The mega drop down contents -->
                        <div style="width:400px;max-width:100%;">
                            <div style="padding:5px 24px;">
                                <table>
                                    <tr>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ru", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Russia.png\" />"))</td>
                                        <td style="width:100px">@Html.Raw(@Html.ActionLink("[Ru]", "Index_ua", "Home").ToHtmlString().Replace("[Ru]", "<img src=\"/js_css/images/Ukraine.png\" />"))</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <div style="text-align:center;width:100%">
            <img src="~/js_css/images/1fSIBNiqfis.jpg" style="height:170px; width:auto" />
            <div style="padding:10px">
                <p style="font-size:2em">Temperature category</p>
                <p style="font-size:1.3em">
                    In this category you can see pet`s vital and current position in GPS-coordinates
                </p>
            </div>
            @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
            <p style="font-size:1.3em">Enter number of measurements</p>
            @using (Ajax.BeginForm("PaintChar", "Chart", new AjaxOptions { UpdateTargetId = "results1" }))
            {
                <input type="text" name="count" />
                <input type="submit" value="Build" />
                <div id="results1"></div>
            }
            

        </div>

        <footer style="float:left;width:100%;">
            <div id="container">
                <div class="footerLeft">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="last"><a href="#">Contact</a></li>
                    </ul>
                    <div class="icons">
                        <a href="https://vk.com/microsoftukraine"><img src="~/js_css/images/VK_64x64.png" style="zoom:0.5"></a>
                        <a href="https://twitter.com/microsoftua"><img src="~/js_css/images/HPFeb15_social_Twitter.png"></a>
                        <a href="https://www.facebook.com/MicrosoftUkraine"><img src="~/js_css/images/hpfeb15_social_facebook.png" /></a>
                    </div>
                </div><!--end div "footerLeft"-->

                <div class="contact">
                    <p>
                        IoT laboratory<br>
                        Microsoft Ukraine<br>
                        Kyiv, Zhilyanska st. 75<br>
                        P: 650-555-1212<br>
                        F: 650-555-1213
                    </p>
                </div><!--end div "contact"-->
            </div><!--end div "container"-->
        </footer>

        </div>
    </nav>

</body>
</html>
